  <virtual-scroller #scroll [items]="fileModels">
    <table class="table table-striped">
    <thead #header>
    <tr>
      <th scope="col">File Name</th>
      <th scope="col">File Size</th>
      <th scope="col">File Type</th>
      <th scope="col">Upload date</th>
    </tr>
    </thead>
    <tbody #container>
    <tr *ngFor="let item of scroll.viewPortItems;">
      <td>{{item.name}}</td>
      <td>{{item.size | fileSize}}</td>
      <td>{{item.type}}</td>
      <td>{{item.lastModifiedDate | date:'short'}}</td>
    </tr>
    </tbody>
    </table>
  </virtual-scroller>
