.upload{
  font-weight:bold;
  color:#28a745;
  margin-left: 15px;
  line-height: 36px;
}
h2,h3 {
  margin: 5px
}

.filter {
  position: relative;
  font-size: 16px;
  padding: 12px 20px 12px 12px;
  border: solid #ddd;
  margin-bottom: 12px;
  margin-left: 5px;
}

